---
layout: blog
index: true
---
<link rel="stylesheet" href="/res/css/page.css">

<audio autoplay loop>
  <source type="audio/mpeg" src="/res/my_music/its_my_life.mp3"></source>
  <p>Your browser does not support the audio element.</p>
</audio>

<div>
{% for post in site.posts reverse %}
{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
{% if year != y %}{% assign year = y %}<h1 class="year">{{ post.date | date: "%Y" }}</h1>{% endif %}
<div class="timing">
  <time class="time">{{ post.date | date: "%m" }}-{{ post.date | date: "%d" }}</time>
  <div class="link"><a href="{{ post.url }}">{{post.title}}</a></div>
  <div class="point-time "></div>
</div>
{% endfor %}
</div>
<br/>
<script>
$(function() {
  var tags_a = $(".point-time");
  tags_a.each(function(){
    var x = 5;
    var y = 0;
    var rand = parseInt(Math.random() * (x - y + 1) + y);
    $(this).addClass("point"+rand);
  });
});
</script>


<!--
 
{% for post in paginator.posts %}
<div class="posts">
  <section class="post">
    <header class="post-header">
      <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="post-meta">
        <i class="fa fa-calendar"></i>
        {{ post.date | date: "%Y" }}年{{ post.date | date: "%m" }}月{{ post.date | date: "%d" }}日
        <i class="space"></i>
        {% for item in (0..post.categories.size) %}
        {% unless forloop.last %}<i class="fa fa-tags"></i>{% endunless %}
        <a class="post-category" href="/page/category.html#{{ post.categories[item] }}">{{ post.categories[item] }}</a>
        {% endfor %}
      </p>
    </header>
    <div class="post-main">
      {{ post.content | split:''| first }}
      <div class="readall"><a href="{{ post.url }}" id="post-readall">阅读全文&nbsp;<i class="fa fa-chevron-right"></i></a></div>
    </div>
  </section>
</div>
{% endfor %}
<div class="pagination">
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</a>
  {% else %}
  <a class="pagination-item newer" href="/page/{{paginator.previous_page}}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一页</span>
  {% endif %}  
  {% if paginator.next_page %}
  <a class="pagination-item older" href="/page/{{paginator.next_page}}">下一页&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
  {% else %}
  <span class="pagination-item older">下一页&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span>
  {% endif %}
</div>

-->
